<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- Điều hướng vê trang chủ -->
    <a href="../index.html">Home</a>
    <!-- điều hướng về my skill -->
    <a href="./myskill.html">My skill</a>
    <!-- điều hướng về contact -->
    <a href="./contact.html">Contact me</a>
    <h1>Contact me</h1>
    <hr />
    <p><strong>tel:0338235816</strong></p>
    <p>Gmail:unpham972@gmail.com</p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, omnis
      commodi sapiente itaque dicta tempore numquam in, incidunt facere
      provident molestias ad? Asperiores animi voluptatum architecto culpa quis
      in dolorem.
    </p>
  </body>
</html>
