<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- Điều hướng vê trang chủ -->
    <a href="/">Home</a>
    <!-- điều hướng về my skill -->
    <a href="/Views/myskill.html">My skill</a>
    <!-- điều hướng về contact -->
    <a href="/Views/contact.html">Contact me</a>
    <h1>My skill</h1>
    <hr />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi,
      praesentium. Dolorem, cumque. Inventore blanditiis pariatur qui quos fugit
      quidem quibusdam repellat placeat, voluptatum consectetur totam commodi
      quisquam autem tempore et. Eligendi repellendus quam molestias laboriosam
      sunt voluptate, ipsum a alias asperiores atque facilis. Ratione vel totam
      voluptate sit natus modi excepturi culpa quasi laborum impedit, officiis
      veritatis laboriosam. Magni, harum.
    </p>
  </body>
</html>
